body {
  background-color: white;
}

header {
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    url(/images/park.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
  max-width: 100%;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  line-height: 80px;
  text-align: center;
  color: black;
  padding: 10px;
  margin: 0 auto;
}

h2 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 36px;
  color: black;
  margin: 0 auto;
  padding: 10px;
}

h3 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 28px;
  color: black;
  margin: 0 auto;
  padding: 10px;
}

footer {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.link-button {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin: 10px auto;
  padding: 10px;
  border: 2px solid black;
  color: black;
  background-color: white;
  max-width: 30%;
}

@media (max-width: 800px) {
  header h1 {
    font-size: 50px;
    line-height: 1;
  }
  header h2 {
    font-size: 24px;
  }
  header h3 {
    font-size: 20px;
  }
}
