body {
  background-color: white;
}

header {
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    url(/images/park.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
  max-width: 100%;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  line-height: 80px;
  text-align: center;
  color: black;
  padding: 10px;
  margin: 0 auto;
}

header h2 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 36px;
  color: black;
  margin: 0 auto;
  padding: 10px;
}

header h3 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 28px;
  color: black;
  margin: 0 auto;
  padding: 10px;
}

section {
  background-color: rgb(254, 254, 254);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 42px;
  padding: 40px;
  font-family: "Poppins", sans-serif;
}

section h2 {
  font-size: 22px;
}

section p {
  font-size: 18px;
  line-height: 1.5;
  max-width: 70%;
}

section img {
  aspect-ratio: 2 / 2.5;
  object-fit: cover;
  object-position: center 65%;
  max-width: 70%;
  display: block;
  margin: 0 auto;
  padding: 10px;
}

footer {
  font-family: "Poppins", sans-serif;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
    url(/images/park.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  max-width: 100%;
}

footer h3 {
  text-align: left;
  font-size: 20px;
  color: black;
  margin: 0 auto;
  padding: 5px;
}

footer ul {
  padding: 0;
  margin: 0 auto;
}

footer li {
  list-style: none;
  font-size: 14px;
  padding: 5px;
}

footer a {
  text-decoration: underline;
  color: black;
}

footer p {
  text-align: left;
  font-size: 14px;
  color: black;
  margin: 0 auto;
  padding: 5px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.link-button {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin: 10px auto;
  padding: 10px;
  border: 2px solid black;
  color: black;
  background-color: white;
  max-width: 30%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}

@media (max-width: 800px) {
  header h1 {
    font-size: 50px;
    line-height: 1;
  }
  header h2 {
    font-size: 24px;
  }
  header h3 {
    font-size: 20px;
  }
  .link-button {
    font-size: 14px;
  }
}

@media (max-width: 800px) {
  footer h3 {
    font-size: 16px;
    padding: 10px;
  }
  footer li {
    font-size: 12px;
    padding: 10px;
  }
  footer p {
    font-size: 12px;
    padding: 10px;
  }
  .grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 800px) {
  section {
    grid-gap: 24px;
    padding: 5px;
  }
  section img {
    padding: 5px;
    max-width: 90%;
  }
  section h2 {
    font-size: 16px;
  }
  section p {
    font-size: 12px;
    max-width: 90%;
  }
}
